<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="application/xhtml+xml;charset=UTF-8" />
		<title> <%= title %> </title>
		<meta name="description" content="college student network aimed at indian students, seamlessly interconnected with other web-services">
		<meta name="keywords" content="college network, student network, campus, placements, india, chennai, documents,notes, questions, symposiums, culturals, events">
		<meta name="author" content="www.clari5.com">
		<meta name="email" content="stack24M@gmail.com">
		
		<link rel="shortcut icon" href="/images/favicon.ico">

		<%= stylesheet_link_tag 'application' %>
		
	
	</head>

	<body>
		<div style="margin-top: 150px;" align="center">
		<%= image_tag('/images/message.png')%>
		</div>
		
	</body>
</html>